<div class="container mt-sm">
  <h2 class="title-lg"> Все вопросы</h2>
</div>


  <% @questions.each do |question| %>
    <div class="mt-sm container">
        <%= render question %>
    </div>
  <% end %>

<div class="container">
    <%= render 'form' %>
</div>

