<header class="header">
  <%= link_to 'Главная', "/", class: "btn"%>
  <%= link_to 'вопросы', "/questions", class: "btn" %>
</header>

<div class="container">
  <h1 class="title-lg" >Данил Варламов</h1>
  <h4 class="title-sm">Программист, студент ЮФУ мехмата</h4>


  <div class="info">
  <hr>
    <h1 class="title">Обо мне</h1>

    <ul style="list-style-type: none">
    <li>Студент 2 курса</li>
    <li>Программист</li>
    </ul>

  </div>

  <div class="skills">
    <table>
    <h1 class="title"> Мои Умения</h1>
      <tr>
        <th>Умение 1</th>
        <th>Умение 2</th>
        <th>Умение 3</th>
        <th>Умение 4</th>
      </tr>

      <tr>
        <th>C#/C++</th>
        <th>WinForms/WPF</th>
        <th>Unity</th>
        <th>HTML/CSS</th>
      </tr>

    </table>
  </div>


</div>