<%= stylesheet_link_tag('main')%>
<div class="wrapper">
  <header class="header">
    <h1>Mr. Tempire</h1>
  </header>

  <aside class="left">
    <%= image_tag "avatar.jpg", alt: "Изображение не загружено(", class: "avatar"%>
    <ul>
      <li><a class="active" href="">Home</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
      <li><a href="/questions">Questions <- рабочая</a></li>
    </ul>
  </aside>

  <main class="content">
  <h1 style="font-size: 30px; padding: 6px; color: black;">Обо мне</h1>
    <ul>
      <li><p>Программист</p></li>
      <li><p>Студент 3 курса</p></li>
    </ul>
  </main>
</div>
  <footer class="footer">
    &copy; Copyright Mr.Tempire
  </footer>