<h1>Hello, World!</h1>
<%time = Time.now %>
<p>Текущее время: <%= time %></p>

<p>Вопрос</p>
<p><%= @question.body %></p>
<p>User_id: <b><%= @question.user_id %>></b></p>
<p><%= link_to "Все вопросы", "/questions" %></p>