<div class="container">
  <%time = Time.now %>
  <p>Текущее время: <%= time %></p>

  <p class="title-lg mb">Вопрос <%= @question.id %></p>

  <%= render 'question', question: @question %>

  <p class="mt btn"><%= link_to "Все вопросы", "/questions", class: "BtnQ"%></p>

</div>