.header{
    padding: 15px;
    background: antiquewhite;
}


.header .btn:hover{
    background-color: coral;
}


.header .btn{
    padding: 10px;
    text-decoration: none;
    background-color: #7db5ff;
    color: #730E15;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-weight: bold;
}

