.info, .skills{
    padding: 15px;
    padding-bottom: unset;

}

a:hover{
    background-color: coral;
}

li{
    padding: 2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.btn_edit_q{
    display: flex;
    padding: 12px 6px;
}
.btn_edit_q i{
    padding: 5px;
}



.BtnQ{
    background-color: #730E15;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 12px;
}


/*
.btns:link, .btns:visited {
    padding: 15px 15px;
    display: inline-block;
    border-radius: 100px;

}

.btns:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

*/

.user_login_pad{
    float: right;
    display: flex;
}
